<mat-card>
    <form [formGroup]="form" (ngSubmit)="onLogin()" class="form">
        <mat-form-field>
            <input matInput type="email" formControlName="email"
                placeholder="E-Mail*">
            @if(emailCtrl?.invalid){
            <mat-error>Please enter a valid email.</mat-error>
            }
        </mat-form-field>
        <mat-form-field class="margin-top">
            <input matInput type="password" formControlName="password"
                placeholder="Password*">
            @if(passwordCtrl?.invalid){
            <mat-error>Please enter a valid password.</mat-error>
            }
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit"
            class="margin-bottom">Login</button>
    </form>
</mat-card>
<hr>