mat-form-field, textarea {
    width: 100%;
}

input[type="file"] {
    visibility: hidden;
}

.image-preview {
    height: 5rem;
    margin: 1rem 0;
}

.image-preview img {
    height: 100%;
}

.form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.margin-top{
    margin-top: 1rem;
}
.margin-bottom{
    margin-bottom: 1rem;
}