@if(posts().length > 0){
<mat-accordion multi="true" #accordion="matAccordion">
    @for(post of posts(); track $index){
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            {{ post.title }}
        </mat-expansion-panel-header>
        <div class="post-image">
            <img [src]="post.imagePath" [alt]="post.title"/>
        </div>
        <p>{{ post.content }} </p>
        @if(authService.isLoggedIn()() && authService.getUserId() === post.creator) {
        <mat-action-row>
            <a mat-button color="primary"
                [routerLink]="['/edit/', post.id]">EDIT</a>
            <button mat-raised-button color="warn"
                (click)="onDelete(post.id!)">DELETE</button>
        </mat-action-row>
      }
    </mat-expansion-panel>
    }
</mat-accordion>
<mat-paginator
    [length]="paginator().totalPosts"
    [pageSize]="paginator().postPerPage"
    [pageSizeOptions]="paginator().pageSizeOptions"
    [pageIndex]="paginator().currentPage - 1"
    (page)="onChangedPage($event)">
</mat-paginator>
}
@if(posts().length <= 0) {
<p class="info-text mat-body-1"> The posts are empty</p>
}
